#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB   &kp Q      &kp D      &kp R      &kp W      &kp B      &kp J      &kp F      &kp U      &kp P      &kp SEMI  &kp BSPC
&kp LCTRL &kp A      &kp S      &kp H      &kp T      &kp G      &kp Y      &kp N      &kp E      &kp O      &kp I     &kp SQT
&kp LSHFT &kp Z      &kp X      &kp M      &kp C      &kp V      &kp K      &kp L      &kp COMMA  &kp DOT    &kp FSLH  &kp RSHFT
                      &kp LGUI  &kp LALT  &kp SPACE  &kp RET   &kp RALT  &kp RGUI
            >;
        };
    };
};
